/* Estilo principal */
body {
    font-family: 'Nunito', sans-serif;
    background: url('ceu-estrelado.jpeg') no-repeat center center fixed;
    background-size: cover;
    color: #fdf7f0;
    margin: 0;
    padding: 50px 0 0 0; /* Padding para compensar a altura da navbar */
    min-height: 100vh;
}

.timeline-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 800px;
    margin: 60px auto 100px auto; /* Aumentar margin-bottom para dar mais espaço */
    position: relative;
}

.timeline-row {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;
    flex-wrap: wrap; /* Permitir quebra de linha em telas menores */
}

.timeline-left, .timeline-right {
    flex: 1;
    max-width: 300px;
    padding: 20px;
    text-align: center; /* Alinhar ao centro em telas menores */
}

.timeline-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 50px;
}

.timeline-line {
    position: absolute;
    width: 3px;
    background-color: #fdf7f0;
    top: 0;
    bottom: 0; /* Definir a altura como dinâmica para cobrir toda a linha */
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

.timeline-star {
    font-size: 24px;
    color: #fdf7f0;
    margin: 20px 0;
    z-index: 1;
}

.timeline-year {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

.timeline-message {
    margin-bottom: 10px;
}

iframe {
    width: 100%;
    height: 200px;
    border: none;
    border-radius: 15px;
}

.navbar {
    width: 100%;
    background-color: transparent;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    margin: 0 15px; /* Ajustar espaçamento entre itens */
}

.navbar a {
    color: #fdf7f0;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
}

.navbar a:hover {
    color: #dbb3d0;
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.logo {
    height: 120px;
    margin-left: 20px;
    vertical-align: middle;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.logo:hover {
    transform: scale(1.1);
}

/* Estilos para o botão hambúrguer */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-right: 20px;
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: #fdf7f0;
    margin: 3px 0;
    transition: 0.4s;
}

/* Estilos para menu mobile */
.navbar ul.mobile {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
}

.navbar ul.mobile.show {
    display: flex;
}

/* Estilos responsivos */
@media only screen and (max-width: 768px) {
    body {
        padding: 80px 0 0 0; /* Ajuste do padding para compensar a navbar em telas menores */
    }

    .navbar {
        justify-content: space-between;
        padding: 10px 20px;
    }

    .navbar ul {
        display: none;
    }

    .navbar ul.show {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        position: absolute;
        top: 100%;
        left: 0;
        padding: 20px 0;
    }

    .navbar li {
        margin: 10px 0;
    }

    .hamburger {
        display: flex;
    }

    .timeline-container {
        width: 90%; /* Reduzir largura da timeline em dispositivos móveis */
        margin: 20px auto 60px auto; /* Ajuste da margin-bottom */
    }

    .timeline-row {
        flex-direction: column; /* Colocar os elementos um abaixo do outro em telas menores */
        align-items: flex-start;
    }

    .timeline-left, .timeline-right {
        max-width: 100%; /* Fazer com que ocupem toda a largura em dispositivos móveis */
    }

    iframe {
        height: 180px; /* Ajustar altura dos vídeos para telas menores */
    }
}
